<!-- Create Package Section -->
<div class="row">
  <div class="col s12">

    <div class="card-panel">

      <%= render 'create_activity_menu' %>

      <div class="card-content">
          <div id="details">
              <div class="row">
                <h5 class="center">Activity Details Section</h5>
                  <%= form_for @activity, class: "col s12" do |f| %>
                      <div class="row">
                        <div class="input-field col s12">
                          <%= f.text_area :about, id: "about-text", class: "materialize-textarea" %>
                          <label for="about-text">About</label>
                          <span class="helper-text">Enter an introduction about this activity</span>
                        </div><!-- input-field -->
                      </div><!-- row -->
                      <div class="row">
                        <div class="input-field col s12">
                          <%= f.text_area :details_1, id: "details-text-1", class: "materialize-textarea" %>
                          <label for="details-text-1">Information About Details 1</label>
                          <span class="helper-text">Enter important information about this activity</span>
                        </div><!-- input-field -->
                      </div><!-- row -->
                      <div class="row">
                        <h6>Detail 2 will add more information, leave blank if there is no more information.</h6>
                        <div class="input-field col s12">
                          <%= f.text_area :details_2, id: "details-text-2", class: "materialize-textarea" %>
                          <label for="detail-text-2">Information About Details 2</label>
                          <span class="helper-text">Add more information about activity.</span>
                        </div><!-- input-field -->
                      </div><!-- row -->
                      <br/>
                      <br/>
                      <hr/>
                      <br/>
                      <br/>
                      <div class="row">
                        <h6>How to get there</h6>
                        <div class="input-field col s12">
                          <%= f.text_area :how_to_directions, id: "direction-text", class: "materialize-textarea" %>
                          <label for="direction-text">Directions Text</label>
                          <span class="helper-text">Enter text information on how to get to location.</span>
                        </div><!-- input-field -->
                      </div><!-- row -->
                      <div class="row">
                        <h6>How to secure your seats</h6>
                        <div class="input-field col s12">
                          <%= f.text_area :how_to_seats, id: "secure-seats-text", class: "materialize-textarea" %>
                          <label for="secure-seats-text">Secure Seats</label>
                          <span class="helper-text">Enter text information on how to secure seats.</span>
                        </div><!-- input-field -->
                      </div><!-- row -->
                      <div class="row">
                        <h6>Additional Information</h6>
                        <div class="input-field col s12">
                          <%= f.text_area :activity_info, id: "add-information-text", class: "materialize-textarea" %>
                          <label for="add-information-text">Additional Information</label>
                          <span class="helper-text">Add more information about this reservation, leave blank if not required.</span>
                        </div><!-- input-field -->
                      </div><!-- row -->
                      <div class="row">
                        <h6>Cancellation &amp; Refund Policies</h6>
                        <div class="input-field col s12">
                          <%= f.text_area :refund_policies, id: "refund-policies-text", class: "materialize-textarea" %>
                          <label for="refund-policies-text">Cancellation &amp; Refund Policies</label>
                          <span class="helper-text">Add cancellation &amp; refund policies for this activity.</span>
                        </div><!-- input-field -->
                      </div><!-- row -->

                      <div class="row">
                        <div class="col s12">
                          <%= button_tag type: "submit", class: "btn waves-effect waves-light", name: "action" do %>
                            Update<span><i class="material-icons right">update</i></span>
                          <% end %>
                        </div><!-- col -->
                      </div><!-- row -->

                  <% end %>
              </div><!-- row -->
          </div><!-- details -->

      </div><!-- card-content -->
    </div><!-- card-panel -->
  </div><!-- col -->
</div><!-- row -->
